* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}


body{
  background-color: #784ba0 ;
 
}
.container {
  margin: 0 auto;
  max-width: 50vh;
  padding-top: 2rem;
  
}

.title {
 text-align: center;
  font-size: 2.5rem;
  padding-bottom:1rem;
  color: rgb(2, 34, 62);
  font-style: italic; 
  font-family: 'Lucida Handwriting', cursive, sans-serif;

}



input{
  width: 67%;
  padding: 8px;
  border: 2px solid transparent;
  outline: none;
  font-size: 19px;
  border-radius: 10px;
  margin-right: 1rem;;
  
}

button{
  width:20%;
  height: 41px;
  background-color:orangered;
  color: white;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 10px;
  font-size: 19px;      
}



.list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.toDo {
  background-color:rgb(214, 91, 214) ;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
 color:white;
 font-size: 1.2rem;
}


.icons {
  display: flex;
  gap: 10px;
}

.icon:hover {
  cursor: pointer;
  color: #cfcfcf;
}
.backdrop{
  width:20%;
  margin: 0 auto;;
}






